<div id="home" class="rn-slider-area">
            <div class="slide slider-style-1">
                <div class="container">
                    <div class="row row--30 align-items-center">
                        <div class="order-2 order-lg-1 col-lg-7 mt_md--50 mt_sm--50 mt_lg--30">
                            <div class="content">
                                <div class="inner">
                                    <span class="subtitle">Welcome to my world</span>
                                    <h1 class="title">Hi, I’m <span>Jone Lee</span><br>
                                        <span class="header-caption" id="page-top">
                                            <!-- type headline start-->
                                            <span class="cd-headline clip is-full-width">
                                                <span>a </span>
                                                <!-- ROTATING TEXT -->
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible">Developer.</b>
                                                    <b class="is-hidden">Professional Coder.</b>
                                                    <b class="is-hidden">Developer.</b>
                                                </span>
                                            </span>
                                            <!-- type headline end -->
                                        </span>
                                    </h1>

                                    <div>
                                        <p class="description">I use animation as a third dimension by which to simplify
                                            experiences and kuiding thro each and every interaction. I’m not adding
                                            motion
                                            just to spruce things up, but doing it in ways that.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12">
                                        <div class="social-share-inner-left">
                                            <span class="title">find with me</span>
                                            <ul class="social-share d-flex liststyle">
                                                <li class="facebook"><a href="#"><i data-feather="facebook"></i></a>
                                                </li>
                                                <li class="instagram"><a href="#"><i data-feather="instagram"></i></a>
                                                </li>
                                                <li class="linkedin"><a href="#"><i data-feather="linkedin"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-12 mt_mobile--30">
                                        <div class="skill-share-inner">
                                            <span class="title">best skill on</span>
                                            <ul class="skill-share d-flex liststyle">
                                                <li><img src="assets/images/icons/icons-01.png" alt="Icons Images"></li>
                                                <li><img src="assets/images/icons/icons-02.png" alt="Icons Images"></li>
                                                <li><img src="assets/images/icons/icons-03.png" alt="Icons Images"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="order-1 order-lg-2 col-lg-5">
                            <div class="thumbnail">
                                <div class="inner">
                                    <img src="assets/images/slider/banner-01.png" alt="Personal Portfolio Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- Pricing Area -->
        <div class="rn-pricing-area rn-section-gap section-separator" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-xl-5 mb_md--40 mb_sm--40 small-margin-pricing">
                        <div
                            class="d-block d-lg-flex text-center d-lg-left section-flex flex-wrap align-content-start h-100">
                            <div class="position-sticky sticky-top rbt-sticky-top-adjust">
                                <div class="section-title text-left">
                                    <span class="subtitle text-center text-lg-left">Pricing</span>
                                    <h2 class="title text-center text-lg-left">My Pricing</h2>
                                </div>
                                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"
                                    data-aos-once="true" class="image-area aos-init aos-animate">
                                    <div class="thumbnail1">
                                        <img src="assets/images/about/price.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-xl-7">
                        <!-- Pricing Area -->
                        <div class="navigation-wrapper">
                            <ul class="nav " id="myTab" role="tablist">
                                <li class="nav-item ">
                                    <a class="nav-style" id="test-tab" data-bs-toggle="tab" href="#test" role="tab"
                                        aria-controls="test" aria-selected="false">Static</a>
                                </li>

                                <li class="nav-item  recommended">
                                    <a class="nav-style active" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                        role="tab" aria-controls="profile" aria-selected="true">Standard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-style" id="contact-tab" data-bs-toggle="tab" href="#contact"
                                        role="tab" aria-controls="contact" aria-selected="false">Premium</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade " id="test" role="tabpanel" aria-labelledby="test-tab">
                                    <!-- Pricing Start -->
                                    <div class="rn-pricing">
                                        <div class="pricing-header">
                                            <div class="header-left">
                                                <h2 class="title">Make Your Single Page</h2>
                                                <span>Elementor</span>
                                            </div>
                                            <div class="header-right">
                                                <span>$30.00</span>
                                            </div>
                                        </div>
                                        <div class="pricing-body">
                                            <p class="description">
                                                All the Lorem Ipsum generators on the Internet tend to repeat
                                                predefined
                                                chunks as necessary
                                            </p>
                                            <div class="check-wrapper">
                                                <div class="left-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>1 Page with Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Responsive Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>2 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                                <div class="right-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>multipage Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Figma</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>MAintaine Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design With XD</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>8 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricing-footer">
                                            <a href="#" class="rn-btn d-block">
                                                <span>ORDER NOW</span>
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                            <div class="time-line">
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="clock"></i>
                                                    <span>2 Days Delivery</span>
                                                </div>
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="activity"></i>
                                                    <span>Unlimited Revission</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                </div>

                                <div class="tab-pane fade show active" id="profile" role="tabpanel"
                                    aria-labelledby="profile-tab">
                                    <!-- Pricing Start -->
                                    <div class="rn-pricing">
                                        <div class="pricing-header">
                                            <div class="header-left">
                                                <h2 class="title">Design Make this Page</h2>
                                                <span>Elementor</span>
                                            </div>
                                            <div class="header-right">
                                                <span>$50.00</span>
                                            </div>
                                        </div>
                                        <div class="pricing-body">
                                            <p class="description">
                                                Making this the first true generator on the Internet. It uses a
                                                dictionary & plugin Development.
                                            </p>
                                            <div class="check-wrapper">
                                                <div class="left-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>1 Page with Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Responsive Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>2 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                                <div class="right-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>multipage Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Figma</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>MAintaine Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design With XD</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>8 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricing-footer">
                                            <a href="#" class="rn-btn d-block">
                                                <span>ORDER NOW</span>
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                            <div class="time-line d-flex">
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="clock"></i>
                                                    <span>2 Days Delivery</span>
                                                </div>
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="activity"></i>
                                                    <span>Unlimited Revission</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                </div>

                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                    <!-- Pricing Start -->
                                    <div class="rn-pricing">
                                        <div class="pricing-header">
                                            <div class="header-left">
                                                <h2 class="title">Customize Your Single Page</h2>
                                                <span>Elementor</span>
                                            </div>
                                            <div class="header-right">
                                                <span>$90.00</span>
                                            </div>
                                        </div>
                                        <div class="pricing-body">
                                            <p class="description">
                                                I will install your desire theme and made like Theme demo and
                                                customize
                                                your single page( homepage)
                                            </p>
                                            <div class="check-wrapper">
                                                <div class="left-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>1 Page with Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Responsive Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Customization</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>2 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                                <div class="right-area">
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>multipage Elementor</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design Figma</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>MAintaine Design</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Content Upload</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>Design With XD</p>
                                                    </div>
                                                    <div class="check d-flex">
                                                        <i data-feather="check"></i>
                                                        <p>8 Plugins/Extensions</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pricing-footer">
                                            <a href="#" class="rn-btn d-block">
                                                <span>ORDER NOW</span>
                                                <i data-feather="arrow-right"></i>
                                            </a>
                                            <div class="time-line d-flex">
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="clock"></i>
                                                    <span>2 Days Delivery</span>
                                                </div>
                                                <div class="single-cmt d-flex">
                                                    <i data-feather="activity"></i>
                                                    <span>Unlimited Revission</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End -->
                                </div>
                            </div>
                        </div>
                        <!-- End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing area -->


