:root {
    --primary-color: rgb(11, 78, 179);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    /* display: flex; */
    place-items: center;
    min-height: 100vh;
  }
  /* Global Stylings */
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500 !important;
    font-size: 15px;
    color: #0F6EB1;
  }

  input,select {
    color: #666;
    display: block;
    width: 100%;
    /* padding: 0.75rem; */
    padding: 5px 8px;
    border: 1px solid #ccc;
    /* border-radius: 0.25rem; */
    border-radius: 4px !important;
  }

  .width-50 {
    width: 50%;
  }

  .ml-auto {
    margin-left: auto;
  }

  .text-center {
    text-align: center;
  }

  /* Progressbar */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }

  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: #dcdcdc;
    z-index: -1;
  }

  .progress {
    background-color: rgb(11, 78, 179) ;
    width: 0%;
    transition: 0.3s;
  }

  .progress-step {
    width: 4.1875rem;
    height: 4.1875rem;
    /* width: 2.1875rem;
    height: 2.1875rem; */
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }

  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }

  .progress-step-active {
    background-color: var(--primary-color);
    color: #f3f3f3;
  }

  /* Form */
  .form {
    /* width: clamp(885px, 30%, 430px); */
    width: 90%;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
    box-shadow: 0px 0px 8px 0px #00000040;
    /* background: #FAFAFA; */
  }

  .form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
  }

  .form-step-active {
    display: block;
  }

  .input-group {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
  }

  /* Button */
  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .btn {
    width: 220px;
    /* font-weight: 600; */
    font-size: 18px;
    /* display: block; */
    text-decoration: none;
    background-color: var(--primary-color);
    color: #f3f3f3;
    border: 1px solid var(--primary-color);
    /* text-align: center; */
    border-radius: 0.25rem;
    cursor: pointer;
    /* transition: transform 0.3s ease-in-out; */

    padding: 7px 40px;
    text-align: center;
    box-shadow: 0 0 15px 0 #d7dbe7;
    text-transform: capitalize;
    transition: .6s;
  }
  .btn:hover {
    background-color: #fff;
    color: var(--primary-color);
    /* font-weight: 600; */
    /* box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color); */
  }
